body {
    background: #030605;
    color: #b0b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

form {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td {
    padding: 10px 20px;
    border: 1px solid #9b1d20; /* Tüm hücrelere çerçeve ekledik */
}

#backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.1);
    color: #9b1d20;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#backButton:hover {
    background: rgba(255, 255, 255, 0.3);
}

#backButton i {
    font-size: 20px;
}